



.date-new{
			    margin-top: 10px;
            padding-left:7px;
		}	
        .name{
            padding-left:7px;
        }
	
.paper-topics{
    margin-left:-34px;
  
}	
	
.container-fluid{
  background-color: white !important;
   
    padding: 18px;
}
	

.org-details{
    color:#150371;
}


.call-paper{
    color:#150371;
}

